# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
build/
*.tar.gz
*.block
*.tx

# Generated Blockchain Data (Local to each machine)
crypto-config/
channel-artifacts/
app/backend/wallet/
compose/fabric-ca/

# Logs and PIDs
*.log
*.pid
app/backend/backend.log
app/backend/backend.pid

# Dashboards
app/manager/dist/
app/billing/dist/
app/inventory/dist/
app/patient/dist/

# System and Environment
.DS_Store
.env
.env.*
!.env.example

# Hyperledger Fabric Runtime
runtime/
data/

# Large binary artifacts
*.tar.gz
*.block
node_modules/

chaincode/ehr.tar.gz
