# Project identity
PROJECT_NAME=fabric-network-swarm
SWARM_STACK_PREFIX=ehrswarm
SWARM_NETWORK_NAME=fabric-swarm-net
SWARM_SHARED_ROOT=/srv/fabric-network-swarm

# Manager machine runtime ports
SWARM_ORDERER_HOST_PORT=17050
SWARM_ORDERER_ADMIN_PORT=17053
SWARM_CA_HOST_PORT=17054
SWARM_PEER0_HOST_PORT=17051
SWARM_COUCHDB0_HOST_PORT=17984

# App ports
SWARM_BACKEND_PORT=4100
SWARM_FRONTEND_PORT=5174

# External manager address for app access
SWARM_MANAGER_HOST=127.0.0.1
SWARM_IPFS_API=http://127.0.0.1:5001/api/v0
SWARM_IPFS_GATEWAY_URL=http://127.0.0.1:8080/ipfs

# Backend Fabric settings
FABRIC_CHANNEL_NAME=mychannel
FABRIC_CHAINCODE_NAME=ehr
FABRIC_DISCOVERY_ENABLED=true
FABRIC_DISCOVERY_AS_LOCALHOST=false
FABRIC_CONNECTION_PROFILE=connection.swarm.template.json
